venv
*.pyc
staticfiles

.idea/
venv/
logs/
bin/
include/
/lib/
local/
src/
site_media/
fieldkeys/
node_modules/
.cache/
man/
htmlcov/
.vagrant/

.coverage
coverage.xml
pip-selfcheck.json
npm-debug.log
webpack-stats.json
