<aside class="o-aside-menu pull-left">
    <div class="o-aside-menu-wrapper">
        <ul class="list-group o-menu-list">
            <li class=" o-menu-text">DNS Queries</li>
            <li class=" o-menu-item active"><a href="{% url 'dns-form' %}">DNS lookup</a></li>
            <li class=" o-menu-item"><a href="{% url 'reverse-dns-form' %}">Reverse DNS Lookup</a></li>
            <li class=" o-menu-item"><a href="{% url 'whois-form' %}">Whois lookup</a></li>
            <li class=" o-menu-item"><a href="{% url 'ip-to-domains' %}">Reverse IP to Domains</a></li>

            <li class=" o-menu-text">Network Tools</li>
            <li class=" o-menu-item"><a href="{% url 'ping-form' %}">Ping</a></li>
            <li class=" o-menu-item"><a href="{% url 'traceroute-form' %}">Traceroute</a></li>
            <li class=" o-menu-item"><a href="">Port Fowarding</a></li>
            <li class=" o-menu-item"><a href="">IP Location/ GeoIP</a></li>


            <li class=" o-menu-text">Web Tools</li>
            <li class=" o-menu-item"><a href="{% url 'whois-form' %}">HTTP Headers</a></li>


        </ul>
    </div>
</aside>